@tailwind base;
@tailwind components;
@tailwind utilities;

.background-texture{
    background-image: radial-gradient(#00fffe 2px, transparent 2px), radial-gradient(#00fffe 2px, transparent 2px);
    background-size: 27px 27px;
    background-position: 0 0, 13.5px 13.5px;
    background-color: #dc5f00;
}

.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   border: 9px solid;
   border-color: #dbdcef;
   border-right-color: #474bff;
   animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
   to {
      transform: rotate(1turn);
   }
}
